<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.windhide.abonement.mapper.OrderDetailMapper">

    <resultMap id="BaseResultMap" type="com.windhide.abonement.pojo.OrderDetail">
        <id property="orderId" column="order_id" jdbcType="INTEGER"/>
        <result property="orderDataJson" column="order_data_json" jdbcType="VARCHAR"/>
        <result property="orderPrice" column="order_price" jdbcType="DECIMAL"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        order_id,order_data_json,order_price,
        user_id,create_time
    </sql>
</mapper>
