<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.windhide.employee.mapper.EmployeeMapper">

    <resultMap id="BaseResultMap" type="com.windhide.employee.pojo.Employee">
            <id property="employee_id" column="employee_id" jdbcType="INTEGER"/>
            <result property="employee_name" column="employee_name" jdbcType="VARCHAR"/>
            <result property="employee_image" column="employee_image" jdbcType="VARCHAR"/>
            <result property="employee_username" column="employee_username" jdbcType="VARCHAR"/>
            <result property="employee_password" column="employee_password" jdbcType="VARCHAR"/>
            <result property="employee_salary" column="employee_salary" jdbcType="DECIMAL"/>
            <result property="employee_type_id" column="employee_type_id" jdbcType="INTEGER"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        employee_id,employee_name,employee_image,
        employee_username,employee_password,employee_salary,
        employee_type_id,create_time
    </sql>
</mapper>
