# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
*.class
*.log
*.ctxt
*.mtj.tmp/
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.iml
.classpath
.project
.settings
target
build
.idea
.gradle